body {
  background-color: #1e1b26;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  color: #ededed;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
