body {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  color: #ededed;
  font-family: "Comfortaa", sans-serif;
}

.container {
  margin: 40px auto;
  max-width: 620px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 35px;
  line-height: 1.5;
  text-align: center;
}

.form-container {
  padding: 30px;
  padding-bottom: 20px;
  border-radius: 20px;
  align-items: center;
  gap: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
}

.prompt {
  font-size: 18px;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  height: 60px;
  box-sizing: border-box;
  flex: 1;
}

.button {
  font-size: 18px;
  padding: 0 25px;
  border-radius: 18px;
  border: none;
  height: 60px;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #ffddb0;
}

.hint {
  opacity: 0.7;
}

main {
  margin: 30px;
}

.content {
  position: relative;
  background: transparent;
  border-left: 4px solid #ffddb0;
  padding: 15px 20px;
  border-radius: 15px;
  margin-top: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-size: 17px;
  line-height: 1.6;
  min-height: 150px;
}

#content a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 5px;
  background-color: #ffddb0;
  color: black;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#content a:hover {
  background-color: #a87ff3;
  color: inherit;
}

#content em {
  color: #a87ff3;
}

#content .placeholder {
  display: none;
}

#loading-text {
  text-align: left;
  padding: 0px;
  margin: 0px;
  color: white;
  opacity: 0.9;
  font-size: 21px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #bbb;
  padding: 20px;
  border-top: 1px solid #444;
  margin-top: 40px;
}

footer a {
  color: #a87ff3;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
  body {
    padding: 5px;
  }

  .container {
    margin: 0;
  }

  .form-container {
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    padding: 15px 10px;
  }

  input.prompt,
  input.button {
    padding: 0 5px;
    font-size: 1rem;
  }

  .content {
    min-height: 100px;
    padding: 5px;
    text-align: center;
  }

  #image {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  #content {
    font-size: 0.95rem;
  }

  .hint {
    font-size: 0.85rem;
  }
}
